<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  
  <body id="page-top">
    <!-- START nav -->
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand js-scroll-trigger" href="/"><%= title %></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/" class="nav-link js-scroll-trigger">Home</a></li>
            <!--
            <li class="nav-item"><a href="#about" class="nav-link js-scroll-trigger">About</a></li>
            <li class="nav-item"><a href="#what-is-boba" class="nav-link js-scroll-trigger">What is Boba?</a></li>
	        	<li class="nav-item"><a href="#how-it-works" class="nav-link js-scroll-trigger">How it works?</a></li>
            -->
            <li class="nav-item"><a href="#blog" class="nav-link js-scroll-trigger">Blog</a></li>
	          <li class="nav-item"><a href="/results" class="nav-link">Tí Me!</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <section class="home-slider owl-carousel js-fullheight">
      <div class="slider-item js-fullheight" style="background-image: url(images/banner.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-12 col-sm-12 text-center ftco-animate">
            	<span class="subheading" style="font-size:145px"><%= title %></span>
              <h1><a href="/results" class="btn btn-primary" style="font-size: 35px;">Take the quiz!</a></h1>
            </div>

          </div>
        </div>
      </div>

      <div class="slider-item js-fullheight" style="background-image: url(images/banner1.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-12 col-sm-12 text-center ftco-animate">
            	<span class="subheading" style="font-size:145px"><%= title %></span>
              <h1><a href="/results" class="btn btn-primary" style="font-size: 35px;">Take the quiz!</a></h1>
            </div>

          </div>
        </div>
      </div>

      <div class="slider-item js-fullheight" style="background-image: url(images/banner2.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-12 col-sm-12 text-center ftco-animate">
            	<span class="subheading" style="font-size:145px"><%= title %></span>
              <h1><a href="/results" class="btn btn-primary" style="font-size: 35px;">Take the quiz!</a></h1>
            </div>

          </div>
        </div>
      </div>
    </section>

    <!--
    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-md-12">
    				<div class="featured">
    					<div class="row">
    						<div class="col-md-3">
    							<div class="featured-menus ftco-animate">
			              <div class="menu-img img" style="background-image: url(images/breakfast-1.jpg);"></div>
			              <div class="text text-center">
		                  <h3>Grilled Beef with potatoes</h3>
				              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
			              </div>
			            </div>
    						</div>
    						<div class="col-md-3">
    							<div class="featured-menus ftco-animate">
			              <div class="menu-img img" style="background-image: url(images/breakfast-2.jpg);"></div>
			              <div class="text text-center">
		                  <h3>Grilled Beef with potatoes</h3>
				              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
			              </div>
			            </div>
    						</div>
    						<div class="col-md-3">
    							<div class="featured-menus ftco-animate">
			              <div class="menu-img img" style="background-image: url(images/breakfast-3.jpg);"></div>
			              <div class="text text-center">
		                  <h3>Grilled Beef with potatoes</h3>
				              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
			              </div>
			            </div>
    						</div>
    						<div class="col-md-3">
    							<div class="featured-menus ftco-animate">
			              <div class="menu-img img" style="background-image: url(images/breakfast-4.jpg);"></div>
			              <div class="text text-center">
		                  <h3>Grilled Beef with potatoes</h3>
				              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
			              </div>
			            </div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    -->

    <!--About Section START-->
		<section class="ftco-section ftco-wrap-about" id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-7 d-flex">

						<div class="img img-2 ml-md-2" style="background-image: url(images/about.jpg);"></div>
					</div>
					<div class="col-md-5 wrap-about pt-5 pt-md-5 pb-md-3 ftco-animate">
	          <div class="heading-section mb-4 my-5 my-md-0">
	          	<span class="subheading">About</span>
	            <h2 class="mb-4"><%= title %></h2>
	          </div>
            <p>
              Hi! We’re Boba Tí. Our mission is to help you find your perfect taste 
              according to your taste buds. We’re a bunch of wild computer scientists 
              that have been brought together by fate to help you on your journey to 
              deliciousness. We’ve traveled all around the world, tasted the 
              untasteable, and have made a huge list of selections we think will be 
              perfect for you. We’re really excited for you to begin your journey into boba!
            </p>
            <h1><a href="/results" class="btn btn-primary" style="font-size:25px">Take the quiz!</a></h1>
          </div>
				</div>
			</div>
    </section>
    <!--About Section END-->

    <!--WHAT IS BOBA? Section START-->
    <section class="ftco-section ftco-wrap-about" id="what-is-boba">
        <div class="container">
          <div class="row">
            <div class="col-md-5 wrap-about pt-5 pt-md-5 pb-md-3 ftco-animate">
              <div class="heading-section mb-4 my-5 my-md-0">
                <span class="subheading">What is</span>
                <h2 class="mb-4">Boba?</h2>
              </div>
              <p>
                What is Boba? Why would you want Boba in your tea in the first place? 
                These are just some of the questions that you may have. But, to be 
                truthful, Boba is simply much more than a chewy ball! Boba is a way to 
                truly bring out your personality in your drink! Boba was first born in 
                Taiwan around the 1980s. It was first used in Taiwan in a tea store 
                called “Hanlin Tea Room” in 1986. Since then, boba is added as a 
                compliment to many combinations of wonderful drinks around the world. 
                In Taiwan and Singapore, boba is enjoyed with hibiscus flowers, saffron, 
                cardamom, and rosewater. In Hong Kong, boba is enjoyed in flavors of 
                black tea, coffee, and milk. Boba is very popular all around the world.
              </p>
              <h1><a href="/results" class="btn btn-primary" style="font-size:25px">Take the quiz!</a></h1>
            </div>
            <div class="col-md-7 d-flex">
              <div class="img img-1 mr-md-2" style="background-image: url(images/tapioca.jpg);"></div>
  
            </div>
          </div>
        </div>
      </section>
      <!--WHAT IS BOBA? Section END-->

  
  
    <!--How it Works Section START-->
		<section class="ftco-section bg-light" id="how-it-works">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-12 text-center heading-section ftco-animate">
          	<span class="subheading"><%= title %></span>
            <h2 class="mb-4">How it Works</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 d-flex align-self-stretch ftco-animate text-center">
            <div class="media block-6 services d-block">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-cake"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Take Our Quiz</h3>
                <!--<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>-->
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate text-center">
            <div class="media block-6 services d-block">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-meeting"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Get Matched</h3>
                <!--<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>-->
                <h1><a href="/results" class="btn btn-primary">Take the quiz!</a></h1>
              </div>
            </div>    
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate text-center">
            <div class="media block-6 services d-block">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-tray"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Find a Store</h3>
                <!--<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>-->
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>
    <!--How it Works Section END-->
  
		<section class="ftco-section img" style="background-image: url(images/banner3.jpg)" data-stellar-background-ratio="0.5" id="daily-tea">
			<div class="container">
				<div class="row d-flex">
          <div class="col-md-12 ftco-animate makereservation text-center">
          	<div class="heading-section ftco-animate mb-5 text-center">
	            <h2 class="mt-4">The Daily Tea</h2>
	          </div>
            <img class="mb-4" src="https://via.placeholder.com/800x500">
          </div>
        </div>
			</div>
		</section>
		
		<section id="blog" class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Blog</span>
            <h2 class="mb-4">Instagram</h2>
          </div>
        </div>
				<div class="row">
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image01.jpg');">
              </a>
              <div class="text pt-3 pb-4 px-4">
                <div class="meta">
                   <div><a href="#">Sept. 06, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading"><a href="#">Taste the delicious foods in Asia</a></h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image02.jpg');">
              </a>
              <div class="text pt-3 pb-4 px-4">
                <div class="meta">
                  <div><a href="#">Sept. 06, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading"><a href="#">Taste the delicious foods in Asia</a></h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image03.jpg');">
              </a>
              <div class="text pt-3 pb-4 px-4">
                <div class="meta">
                  <div><a href="#">Sept. 06, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading"><a href="#">Taste the delicious foods in Asia</a></h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
            </div>
          </div>
        </div>
			</div>
		</section>
		
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Boba Tí</h2>
              <p>Our mission is to help you find your perfect taste 
                  according to your taste buds.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Quick Links</h2>
              <ul class="list-unstyled">
                <li class="nav-item"><a href="/" class="nav-link js-scroll-trigger">Home</a></li>
                <li class="nav-item"><a href="/results" class="nav-link">Results</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/navscroll.js"></script>
    
  </body>
</html>